{% extends 'layout.html.twig' %}
{% block main %}
    <div class="container d-flex flex-column">
        <h1 class="text-center">{{ user.username }}</h1>
        <div class="form-group">
            <p class="font-weight-bold">Prénom</p>
            <p>{{ user.prenom}}</p>
        </div>

        <div class="form-group">
            <p class="font-weight-bold">Nom</p>
            <p>{{ user.nom }}</p>
        </div>

        <div class="form-group">
            <p class="font-weight-bold">Téléphone</p>
            <p>{{ user.tel}}</p>
        </div>

        <div class="form-group">
            <p class="font-weight-bold">Email</p>
            <p>{{ user.email}}</p>
        </div>
        <div class="form-group">
            <p class="font-weight-bold">Campus</p>
            <p>{{ user.campus.nom}}</p>
        </div>
        <div class="row">
            <a href="{{ path('user_profil_edit') }}" class="btn btn-success mr-2">Modifier</a>
            <a href="{{ path('home') }}" class="btn btn-primary">Annuler</a>
        </div>

    </div>
{% endblock %}