{% extends 'layout.html.twig' %}

{% block main %}
    <h1 class="text-center">Ajouter une sortie</h1>
    <div class="container p-5">

    <div class="form-group">

        {{ form_start(sortieForm) }}
        <div class="row">
            <div class="col">

                <div class="form-group">
                    {{ form_row(sortieForm.nom) }}
                </div>
                <div class="form-group">
                    {{ form_row(sortieForm.dateHeureDebut) }}
                </div>
                <div class="form-group">
                    {{ form_row(sortieForm.DateLimiteInscription) }}
                </div>
                <div class="form-group">
                    {{ form_row(sortieForm.nbInscriptionsMax) }}
                </div>
                <div class="form-group">

                    <div class="d-flex align-items-center">
                        {{ form_row(sortieForm.duree) }}
                        <p>minutes</p>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_row(sortieForm.infosSortie) }}
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <p>Campus : </p>
                    <p>{{ app.user.campus.nom }}</p>
                </div>
                <div class="form-group">
                    {{ form_row(sortieForm.ville) }}
                </div>
                <div class="form-group">
                    {{ form_row(sortieForm.lieu) }}
                </div>
                <a class="btn btn-success" href="{{ path('lieu_ajouter') }}">Ajouter un lieu</a>
            </div>
        </div>
        <div class="d-flex justify-content-around flex-wrap mt-4">
            {{ form_row(sortieForm.enregistrer) }}
            {{ form_row(sortieForm.publier) }}
            <a href="{{ path('home') }}" class="btn btn-warning">Annuler</a>
        </div>
        {{ form_end(sortieForm) }}
    </div>


    <script>
        var $city = $('#sortie_ville');

        // When ville gets selected ...
        $city.change(function() {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            // Simulate form data, but only include the selected ville value.
            var data = {};

            data[$city.attr('name')] = $city.val();

            // Submit data via AJAX to the form's action path.
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    // Replace current lieu field ...
                    $('#sortie_lieu').replaceWith(
                        // ... with the returned one from the AJAX response.
                        $(html).find('#sortie_lieu')
                    );
                    // Lieu field now displays the appropriate lieux.
                }
            });
        });
    </script>
{% endblock %}