{% extends 'layout.html.twig' %}

{% block main %}

    <h1 class="text-center">Mon Profil</h1>
    <div class="container">
        <h4>Pseudo:</h4><p>{{ user.username }}</p>

        <h4>Nom:</h4><p>{{ user.nom }}</p>
        <h4>Prenom:</h4><p>{{ user.prenom }}</p>
        <h4>Email:</h4><p>{{ user.email}}</p>
        <h4>Telephone:</h4><p>{{ user.tel }}</p>


        <a href="{{ path('user_profil', {'id': user.id}) }}" class="btn btn-success">Modifier</a>
    </div>

{% endblock %} 