{% extends 'base.html.twig' %}


{% block body %}

<h1>Logo Sortir.com</h1>

{{ form_start(formInfo) }}

{{ form_row(formInfo.username) }}
{{ form_row(formInfo.prenom) }}
{{ form_row(formInfo.nom) }}
{{ form_row(formInfo.tel) }}
{{ form_row(formInfo.email) }}
{{ form_row(formInfo.password) }}
{{ form_row(formInfo.campus) }}
{{ form_row(formInfo.maphoto) }}


<button type="submit" class="btn btn-success">

    
    Enregistrer
    
</button>

<button type="submit" class="btn btn-success">

    Annuler



</button>
{{ form_end(formInfo) }}

{% endblock %} 